<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node</title>
</head>
<body>
    <form action="/signup" method="POST">
        <input type="text" id="fname" placeholder="First Name" name="fname" autocomplete="no">
        <input type="text" id="lname" placeholder="Last Name" name="lname" autocomplete="no">
        <input type="email" id="email" placeholder="Email id" name="email" autocomplete="no">
        <input type="password" id="pwd" placeholder="Password" name="pwd" autocomplete="no">
        <button type="submit" name="btnSubmit1" id="btn">Sign Up</button>
    </form>
</body>
</html>